/*.bg-cr-organizacional {
	background-color: #365779 ;
}*/



.primary-navigation .navigation .nav-link {
  height: 60px;
  color: #365779 ;
  border-top: 3px solid transparent;
}

.navbar-nav .popover-region .popover-region-toggle .icon {
  font-weight: inherit;
  color: #365779;
}

.navbar.fixed-top .usermenu .dropdown .dropdown-toggle, .navbar.fixed-top .langmenu .dropdown .dropdown-toggle {
	padding-top: 0;
	padding-bottom: 0;
	border-radius: 0;
	display: flex;
	align-items: center;
	height: 100%;
	color: #365779;
}

.input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
  color: #365779;
}

.moremenu .nav-link.active:focus, .moremenu .nav-link.active:hover {
	background-color: white;
	border-bottom-color: #365779;
}

.moremenu .nav-link:focus, .moremenu .nav-link:hover {
	background-color: white;
	color: #365779;
}

.navbar.fixed-top .primary-navigation .navigation .nav-link:hover{
	color: #365779;
}

.navbar-light .navbar-nav .nav-link.active {
  color: #365779;
}

/*.login {
  transition: all 0.25s ease-out;
  color: white !important;
}*/